<form id="loginForm">
    <input class="login" type="text" id="emailInput" placeholder="Enter Email"/>
    <input class="login" type="password" id="passwordInput" placeholder="Enter Password"/>
    <button class="login" type="submit" id="loginBtn">submit</button>
</form>
<script src="./js/login.js"></script>