<div>
    <form id="signupForm">
        <div>
            <label for="name">Name:</label>
            <input name="name" id="signupName">
        </div>
         <div>
            <label for="email">Email:</label>
            <input name="email" id="signupEmail">
        </div>
         <div>
            <label for="password">Password:</label>
            <input name="password" type="password" id="signupPassword">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="./js/signup.js"></script>